.navbar {
  padding: 20px 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.navbar button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.navbar button:first-child {
  margin-left: 0;
}

.navbar button.login {
  background: #fff;
  color: #007bff;
}

.navbar button.admin {
  background: #fff;
  color: #007bff;
}
